"*":
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "exception-reporting"
      "spell-check"
    ]
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
    scrollPastEnd: true
    fontFamily: "Droid Sans Mono, Droid Sans Fallback"
    fontSize: 16
    invisibles: {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
